@import '../../../styles/loader/loader.scss';

.home-page {
    margin: 20px 2%;
    font-size: 18px;

    &__title {
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);

        // Tablet
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        //Mobile
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 50%);
        }

        &__card {
            margin: 3% 5%;
            
            &__image {
                width: 100%;
                height: 200px;
                object-fit: cover;
                cursor: pointer;
            }

            &__title {
                text-align: center;
                margin-top: 10px;
            }
        }
    }

    &__load-more-container {
        margin: 20px auto 100px auto;
        width: max-content;
        
        &__btn {
            padding: 10px 15px;
            width: max-content;
            border-radius: 5px;
            border: none;
            background-color: #007bff;
            color: white;

            &:hover {
                background-color: #0c569b;
                cursor: pointer;
            }

            &:focus {
                background-color: #0c569b;
            }
        }
    }

    &__modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        text-align: center;
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

        &__content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        &__close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;

            &:hover, &:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }
      }

}